pkgbase = octo
	pkgdesc = A modular multi-format data viewer and editor
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/thorstenfoltz/octo
	arch = x86_64
	license = MIT
	makedepends = rust
	makedepends = cargo
	makedepends = clang
	makedepends = cmake
	makedepends = nasm
	makedepends = pkgconf
	depends = gtk3
	depends = libxcb
	depends = libxkbcommon
	depends = openssl
	depends = fontconfig
	depends = freetype2
	depends = harfbuzz
	depends = fribidi
	depends = libjpeg-turbo
	depends = openjpeg2
	depends = gumbo-parser
	depends = jbig2dec
	depends = mujs
	options = !lto
	source = octo-0.1.0.tar.gz::https://github.com/thorstenfoltz/octo/archive/0.1.0.tar.gz
	sha256sums = 3b22bb1c45e110cc6111362d219c881a0dc44657ef469ba23d38d4b815f0f237

pkgname = octo
