pkgbase = octo-bin
	pkgdesc = A modular multi-format data viewer and editor (pre-compiled)
	pkgver = X.X.X
	pkgrel = 1
	url = https://github.com/thorstenfoltz/octo
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = libxcb
	depends = libxkbcommon
	depends = openssl
	depends = fontconfig
	depends = freetype2
	depends = harfbuzz
	depends = fribidi
	depends = libjpeg-turbo
	depends = openjpeg2
	depends = gumbo-parser
	depends = jbig2dec
	depends = mujs
	provides = octo
	conflicts = octo
	source = octo-X.X.X-linux-x86_64.tar.gz::https://github.com/thorstenfoltz/octo/releases/download/X.X.X/octo-X.X.X-linux-x86_64.tar.gz
	sha256sums = SKIP

pkgname = octo-bin
